<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilibili失效收藏视频</title>
    <link href="https://cdn.bootcss.com/bulma/0.7.4/css/bulma.min.css" rel="stylesheet">
</head>
<body>
    <div class="column is-2 is-offset-5">
        <form class="tab-content is-active" onsubmit="return postUid()" id="profile_form">
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" id="user" name="user" placeholder="输入Bilibili uid">
                </p>
                <p class="control">
                    <button type="submit" id="button" class="button is-info">爬取！</button>
                </p>
            </div>
        </form>
   </div>
   {% block datatable %}{% endblock %}
</body>
</html>